
.card .card-header .header-span {
    margin-top: 0px !important;
    color: #ffffff !important;
    background-color: #404E67;
    border-color: #ccc;
}

.page-item.active .page-link {
    background-color: #404E67;
    border-color: #404E67;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.color-select-page {
    color: #404E67;
}

.t-head-inverse {
    background: #404E67;
    color: #ffffff;
    border: 1px solid #404E67
}

.t-head-inverse th {
    text-align: center;
}

.table-custom td, .table-custom th {
    padding: 0.5rem;
    vertical-align: middle;
}

.datepicker, .day {
    font-size: 13px;
}

p {
    font-size: 13px;
}

.col-form-label {
    font-size: 13px;
}

.jFiler-input {
    width: 100% !important;
    border-radius: 0px !important;
}

.jFiler-input-button {
    background: #404E67;
    color: #ffffff;
}

.group-btn-search {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.background-inverse {
    background-color: #404E67;
    border-color: #ccc;
}

.btn-danger {
    background-color: #d61829;
}

.datepicker {
    z-index: 11000 !important;
}
#collapse-search {
    cursor: pointer;
}

.text-form-search {
    color: #404E67 !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 2px !important;
    border: 1px solid #ccc !important;
}

.header-form-search span {
    margin-top: 0px !important;
}

.select2-container .select2-selection--single {
    height: auto !important;
}

#collapse-form-search .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 29px !important;
}

/*#collapse-form-search .form-control {*/
/*    font-size: 13px !important;*/
/*}*/

#collapse-form-search .input-group-addon {
    padding: .45rem .75rem;
}

/*.footable-paging .active span {*/
/*    height: 100%;*/
/*}*/

.footable-paging .disabled span {
    height: 100%;
}

.table-custom .child {
    background: beige;
}

.form-control {
    font-size: 13px;
}

.table-font-size-13 {
    font-size: 13px;
}

.a-font-size-13 {
    font-size: 13px;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.modal-max-w-80 {
    max-width: 80%;
}

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

#cover-spin p {
    position: fixed;
    width: 100%;
    left: 46%;
    right: 0;
    top: 46%;
    bottom: 0;
    z-index: 9999;
    font-weight: bold;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.color-white {
    color: #fff !important;
}

.datepicker .next, .datepicker .prev {
    cursor: pointer;
}

.datepicker .next:hover, .datepicker .prev:hover {
    color: #ffffff;
    border-radius: 50%;
    background: #404E67;
}

.page-header-index {
    background: #ffffff;
    padding: .5rem;
    margin-bottom: 0px !important;
}

.icon-form-search {
    float: right;
    color: #ffffff;
    background: #404E67;
    border-radius: 50%;
    padding: .5rem .75rem;
}

.card-index {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.btn.btn-icon-search {
    border-radius: 50%;
    width: 30px;
    line-height: 20px;
    height: 30px;
    padding: 3px;
    text-align: center;
}

.col-md-1-5 {
    width: 12.4999995%;
}

.col-md-3-5 {
    width: 29.16655%;
}

.col-md-2-5 {
    width: 20.8333325%;
}

.form-control-search {
    height: calc(1.8125rem + 2px);
}

.btn-height-calc {
    height: calc(1.8125rem + 2px);
}

.datepicker td.day:hover {
    background: #404E67 !important;
    color: #ffffff;
    border-radius: 50%;
}

.day {
    padding-left: 0px;
}

.footable-paging .page-link {
    border-radius: 50% !important;
    border: none;
}

.footable-paging .pagination {
    display: inherit;
}

.footable-paging .page-item {
    margin-left: 2px;
    margin-right: 2px;
}

.footable-paging .page-item:first-child .page-link {
    padding: .5rem .9rem;
}

.footable-paging .page-item:last-child .page-link {
    padding: .5rem .9rem;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none !important;
}

.w-50 {
    width: 50%;
}

.m-w-60 {
    max-width: 60%;
}

.form-select {
    height: calc(2rem + 3px) !important;
}

.div-form .select2-container .select2-selection--single {
    height: calc(2rem + 3px) !important;;
}

.div-form .select2-container .select2-selection__rendered {
    line-height: calc(2rem + 3px) !important;;
}

.div-form .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
}

.div-form .select2-container--default .select2-selection--multiple {
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
    height: calc(2rem + 3px) !important;
}

.div-form .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #01a9ac !important;
    color: #FFFFFF !important;
    border: 1px solid #01a9ac !important;
    margin-top: 0px;
}

.div-form .select2-container .select2-selection--multiple .select2-selection__rendered {
    line-height: calc(1.5rem + 1px) !important;
}

.div-form .select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #e9ecef !important;
}

.th-label {
    background-color: #f2f8f9;
}

.select2-dropdown {
    border-radius: 0px !important;
    border: none !important;
    -webkit-box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #eee !important;
}

.select2-search--dropdown .select2-search__field {
    padding: 6px !important;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
    width: 5px;
    background-color: #FFFFFF;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
    background-color: #01a9ac;
    border: 1px solid #01a9ac;
}

.select2-container .select2-results__group {
    background: #dddddd;
}


.opacity-0-3 {
    opacity: 0.3;
}

.swal-overlay {
    z-index: 999999999999 !important;
}

.forms-sample .form-control:disabled {
    opacity: 1;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #01a9ac !important;
    color: #FFFFFF !important;
}

.modal-max-w-60 {
    max-width: 60%;
}

.vertical-align-middle {
    vertical-align: middle !important;
}

.table-borderless .form-group{
    margin-bottom: 0px;
}


.pointer{
    cursor: pointer;
}
.swal-footer{
    text-align: center;
}

.dtr-align-center {
    text-align: center;
}

.width-word-break {
    max-width: 500px;
    height: auto;
    word-break: break-word;
    white-space: inherit !important;
    line-height: inherit;
}

